@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Hello World! This is a sample app</h1>
</div>

<div class="row">
    <img src="@Url.Content("~/Content/Images/image_1.jpg")" style="height:400px;width:400px"; />
</div>